/* Edit / Add Assurance / Link */

.form_edit_add_assurance {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;

    padding: calc(30px + var(--nav_bar_height)) 0px;
}

.form_edit_add_assurance label {
    font-weight: bold;
    font-size: var(--label_font_size);
}

.edit_add_assurance_data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left_edit_add,
.right_edit_add {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 50px;
    width: 40vw;
}

.left_edit_add label,
.right_edit_add label {
    margin-bottom: 10px;
}

.edit_add_logo {
    display: flex;
    flex-direction: column;
    width: fit-content;

}

.edit_add_logo .actual_logo {
    width: var(--logo_assurance_width);
}

.edit_add_logo .upload {
    height: calc(var(--logo_assurance_width) / 3);
}

.edit_add_logo div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bloc_edit_add_assurance {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.bloc_edit_add_assurance label {
    text-indent: 5px;
}

.edit_add_assurance_category_data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 30px;
    padding: 0 20px;
}

.bloc_type_category {
    display: flex;
    flex-direction: column;

    padding: 20px 10px;
    border-radius: 12px;

    background-color: var(--color_grey);
}

.bloc_type_category>span {
    font-size: var(--font_size_label);
    font-weight: bold;
}

.bloc_category {
    display: flex;
    height: fit-content;
    font-weight: normal;

    gap: 5px;
    padding-top: 10px;

}

/* Filter-Assurance */

.list_assurance_link_page {
    display: flex;
    flex-direction: row;
}

.filter_assurance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: fit-content;
    height: calc(100vh - var(--nav_bar_height) - 10px);
    width: var(--filter_assurance_width);
    padding: 5px 10px;

    background-color: var(--color_grey);
}

.filter_assurance label {
    font-weight: bold;
    margin-top: 10px;
}

.filter_assurance_categories {
    height: 60%;
    overflow-y: scroll;
}

.type_category {
    font-weight: bold;
}

.category {
    font-weight: normal;
}

.buttons_filter_assurances {
    display: flex;
    justify-content: space-between;
    vertical-align: end;
}

.list_assurance_link {
    width: calc(100% - var(--filter_assurance_width));
    height: calc(100vh - var(--nav_bar_height));
    overflow-y: scroll;
}

.list_assurance_title_button {

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 5px 10px;

    font-weight: bold;
    font-size: 1.2em;
}

.list_image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;

    padding: 10px 30px;
    gap: 10px 60px;
}