body {
    --logo_assurance_width: 140px;
}

/* COMPONENTS */

/* Add Button */

.add_button {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 12px;

    border: none;

    align-self: center;
    text-align: center;
    font-weight: bold;

    /* box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 0.6),
        inset -2px -2px 3px rgb(0 0 0 / 0.6); */

    background-color: var(--color_gold);
}

.add_button:hover {
    color: white;
    background-color: var(--color_gold_hover);
    transition: var(--transition_fast);
}

/* Red Button */

.red_button {
    background-color: var(--color_grey_hover);
    border-radius: 12px;
    font-weight: bold;
    border: none;
    color: white;
}

.red_button:hover {
    background-color: red;
    transition: var(--transition_fast);
}

/* Navigation Bar */

.navigation_bar {
    height: var(--nav_bar_width);
    background-color: var(--color_grey);
    font-weight: bold;
    width: 100%;
}

.menu_buttons {
    width: calc(100% - var(--nav_bar_width));

    height: 100%;

    display: flex;
    justify-content: space-around;
}

.menu_button {

    display: flex;
    align-items: center;
    text-align: center;

    font-size: 1.2em;

    padding: 0 20px;
}

.menu_button:hover {
    border-bottom: 2px solid black;
    transition: var(--transition_very_fast);
}

.profil_section {
    position: absolute;
    right: 0;
    top: 0;
}

.profil_photo {
    width: 100%;
    display: flex;
    justify-content: end;
}

.profil_photo>img {
    width: var(--nav_bar_width);
    object-fit: contain;
}

.profil_option {
    font-size: 0;
}

.profil_section:hover {

    .profil_option {
        background-color: var(--color_grey);
        padding: 10px;
        font-size: 1em;
    }

    .profil_option>div {
        margin-right: 0.3em;
    }

    .profil_option:hover {

        background-color: var(--color_grey_hover);

        div {
            margin-right: 0;
            margin-left: 0.3em;
            transition: var(--transition_fast);
        }

        transition: var(--transition_fast);
    }
}

/* Bloc Assurance / Link */

.bloc_assurance_link {
    display: flex;
}

.bloc_assurance_link:hover {

    .logo_assurance_link {
        opacity: 1;
        transition: var(--transition_fast);
    }

    .buttons_edit_delete img {
        height: 20px;
        transition: var(--transition_fast);
    }
}

.logo_name_assurance_link {
    display: flex;
    flex-direction: column;
}

.logo_name_assurance_link span {
    font-size: var(--label_font_size);
    font-weight: bold;
    text-align: center;
}

.logo_assurance_link {
    height: var(--logo_image_width);
    width: var(--logo_assurance_width);

    object-fit: fill;

    opacity: 0.85;
}

.is_favorite {
    position: relative;
    right: var(--logo_assurance_width);
    height: fit-content;
}

.is_favorite img {
    width: 20px;
}

.is_favorite :hover {
    background-color: var(--color_grey);
}

.buttons_edit_delete {
    position: relative;
    right: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;

    width: 0;
}

.buttons_edit_delete img {
    width: 20px;
    height: 0;
    background-color: var(--color_grey);
}

.buttons_edit_delete img:hover {
    background-color: var(--color_grey_hover);
}

/* COMPONENTS */