/* COMPONENTS */

a {
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* Add Button */

.add_button {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 12px;

    border: none;

    align-self: center;
    text-align: center;
    font-weight: bold;

    /* box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 0.6),
        inset -2px -2px 3px rgb(0 0 0 / 0.6); */

    background-color: var(--color_gold);
}

.add_button:hover {
    color: white;
    background-color: var(--color_gold_hover);
    transition: var(--transition_fast);
}

/* Red Button */

.red_button {
    background-color: var(--color_grey_hover);
    border-radius: 12px;
    font-weight: bold;
    border: none;
    color: white;
}

.red_button:hover {
    background-color: red;
    transition: var(--transition_fast);
}

/* Navigation Bar */

.navigation_bar {
    height: var(--nav_bar_height);
    background-color: var(--color_grey);
    font-weight: bold;
    width: 100%;
}

.menu_buttons {
    width: calc(100% - var(--nav_bar_height));

    height: 100%;

    display: flex;
    justify-content: space-around;
}

.menu_button {

    display: flex;
    align-items: center;
    text-align: center;

    font-size: var(--menu_font_size);

    padding: 0 20px;
}

.menu_button:hover {
    border-bottom: 2px solid black;
    transition: var(--transition_very_fast);
}

.profil_section {
    position: absolute;
    right: 0;
    top: 0;
}

.profil_photo {
    width: 100%;
    display: flex;
    justify-content: end;
}

.profil_photo>img {
    width: var(--nav_bar_height);
    object-fit: contain;
}

.profil_option {
    background-color: var(--color_grey);
    padding: 10px;
    font-size: 1em;
    display: none;
}

.profil_section:hover {

    .profil_option {
        display: block;
    }

    .profil_option>div {
        margin-right: 0.3em;
    }

    .profil_option:hover {

        background-color: var(--color_grey_hover);

        div,
        a {
            margin-right: 0;
            margin-left: 0.3em;
            transition: var(--transition_fast);
        }

        transition: var(--transition_fast);
    }
}

/* Edit Add Bar */

.add_edit_bar {

    position: fixed;
    width: calc(100% - 40px);

    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    height: var(--nav_bar_height);
    background-color: var(--color_grey);
}

.menu_buttons_add_edit {
    height: 100%;
    display: flex;

    align-items: center;

    font-size: var(--menu_font_size);
    font-weight: bold;
}

.menu_buttons_add_edit a {
    height: calc(var(--nav_bar_height) - 10px);
    margin-left: 40px;
    margin-right: 15vw;
}

.menu_buttons_add_edit a:hover {
    margin-left: 35px;
    margin-right: calc(15vw + 5px);

    transition: var(--transition_fast);
}

.menu_buttons_add_edit img {
    height: 100%;
}

/* Bloc Assurance / Link */

.bloc_assurance_link {
    display: flex;
}

.bloc_assurance_link:hover {

    .logo_assurance_link {
        opacity: 1;
        transition: var(--transition_fast);
    }

    .buttons_edit_delete a img {
        height: var(--edit_delete_button_width);
        transition: var(--transition_fast);
    }
}

.logo_name_assurance_link {
    display: flex;
    flex-direction: column;
}

.logo_name_assurance_link span {
    font-size: var(--label_font_size);
    font-weight: bold;
    text-align: center;
}

.logo_assurance_link {
    height: var(--logo_assurance_width);
    width: var(--logo_assurance_width);

    object-fit: fill;

    opacity: 0.85;
}

.is_favorite {
    position: relative;
    right: var(--logo_assurance_width);
    height: fit-content;
}

.is_favorite button {
    border: none;
    background: none;

    width: 0;

    margin: 0;
    padding: 0;
}

.is_favorite img {
    width: var(--favorite_button_width);
}

.is_favorite :hover {
    img {
        background-color: var(--color_grey);
    }
}

.buttons_edit_delete {
    position: relative;
    right: var(--edit_delete_button_width);
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: 0;
}

.buttons_edit_delete a {
    display: block;
    line-height: 0;
    font-size: 0;
}

.buttons_edit_delete img {
    width: var(--edit_delete_button_width);
    height: 0;
    background-color: var(--color_grey);
    margin: 0;
}

.buttons_edit_delete img:hover {
    background-color: var(--color_grey_hover);
}

/* COMPONENTS */