body {
    margin: 0;

    /* COULEURS */

    --color_gold: #CA9C00;
    --color_gold_hover: rgb(136, 104, 0);

    --color_grey: #e0e0e0;
    --color_grey_hover: #b4b4b4;

    /* TRANSITIONS */

    --transition_very_fast: 0.1s;
    --transition_fast: 0.3s;

    /* TAILLE */

    /* Components */

    --nav_bar_height: 60px;
    --menu_font_size: 1.4em;

    /* Bloc Assurance */

    --logo_assurance_width: 150px;
    --favorite_button_width: 30px;
    --edit_delete_button_width: 30px;

    --filter_assurance_width: 250px;



    --label_font_size: 1.1em;
}

.pointer {
    cursor: pointer;
}